html {
    margin: 0;
    padding: 0;
}

h1 {
    margin-bottom: -20px;
}

/* HEADER */
header {
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 56px;
    color: black;
    font-size: 18px;

    display: flex;

    transition: 0.15s linear;
}

header.scroll {
    background-color: rgba(250, 250, 250, 0.9);
    border-bottom: 1px solid rgb(219, 219, 219);
    backdrop-filter: blur(8px);
}

.headerEtc {
    position: fixed;
    z-index: 999;

    width: 100%;
    height: 56px;

    background-color: white;
    color: black;
    font-size: 18px;
    border-bottom: 1px solid rgb(219, 219, 219);

    display: flex;
}

.headerContainer {
    width: calc(100% - 72px);
    margin-left: 36px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.headerLogo {
    
}

.headerMenu {
    width: 35%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.headerContentSelected a {
    text-decoration: none;
    color: rgb(116, 255, 220);
}

.headerContentSelected a:before {
    content: "<";
    visibility: hidden;
}

.headerContentSelected a:after {
    content: ">";
    visibility: hidden;
}

.headerContentSelected a:hover::before {
    visibility: visible;
}

.headerContentSelected a:hover::after {
    visibility: visible;
}

.headerContent a {
    text-decoration: none;
    color: black;
}

.headerContent a:before {
    content: "<";
    visibility: hidden;
}

.headerContent a:after {
    content: ">";
    visibility: hidden;
}

.headerContent a:hover::before {
    visibility: visible;
}

.headerContent a:hover::after {
    visibility: visible;
}

.socialMenu {
    width: 84px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialMenu img {
    height: 30px;
    width: 30px;
}

.socialMenu img:hover {
    opacity: 0.4;
}

/* FOOTER */
.footerWrapper {
    position: absolute;
    z-index: 999;

    width: 100%;
    height: 200px;
    background: rgb(90, 90, 90);
}

/* HOME */
.wrapper {
    width: 100%;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 80%;
}

.line {
    width: 100%;
    border-bottom: 1px solid rgb(219, 219, 219);

    margin-top: 60px;
    margin-bottom: 40px;
}

.bigText {
    width: 100%;
    margin-top: 40px;

    display: flex;
    justify-content: center;
}

.passionsRow {
    width: 100%;
    height: 220px;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.passionsBox {
    width: 30%;
    height: 200px;
    border: 1px solid rgb(219, 219, 219);
    border-radius: 5%;

    font-size: 18px;
    text-decoration: none;
    color: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    box-shadow: 0 0 18px -8px black;

    transition: 0.1s linear;
}

.passionsBox:hover {
    width: 32%;
    height: 220px;

    font-size: 20px;
}

.design {
    background-image: url("/home/design.jpg");
    background-size: cover;
}

.design:hover {
    opacity: 0.7;
}

.learning {
    background-image: url("/home/learning.jpg");
    background-size: cover;
}

.learning:hover {
    opacity: 0.7;
}

.music {
    background-image: url("/home/music.jpg");
    background-size: cover;
}

.music:hover {
    opacity: 0.7;
}

.skillsRow {
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin-bottom: 40px;
}

.skillsContainer {
    width: 240px;
    height: 260px;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* PROJECTS */
.wrapperProject {
    width: 100%;
    padding-bottom: 40px;

    background: rgb(240, 240, 240);
    
    display: flex;
    flex-direction: column;
}

.containerTitle {
    width: 100%;
    height: 36px;

    background: rgb(250, 250, 250);
    border-bottom: 1px solid rgb(219, 219, 219);
    
    display: flex;
    align-items: center;
}

.containerTitle h4 {
    margin-left: 36px;
}

.containerProject {
    width: calc(100% - 208px);

    margin-top: 56px;
    margin-left: 208px;
}

.container2Project {
    width: calc(100% - 36px);
    margin-top: 36px;
    margin-left: 36px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.webBoxContainer {
    width: calc(50% - 36px);
    height: 400px;

    margin-right: 36px;
    margin-bottom: 36px;
}

.webBox1 {
    width: 100%;
    height: 100%;

    background-image: url("/projects/web-dev/imager.png");
    background-size: cover;
    background-position: center;

    border: 1px solid rgb(219, 219, 219);
    border-radius: 5%;

    font-size: 16px;
    color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webBox1:hover {
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/projects/web-dev/imager.png");
    background-size: cover;
    background-position: center;
}

.webBox1 #webLinks {
    filter: invert(1);
    display: none;
}

.webBox1:hover #webLinks {
    display: block;
}

.webBox1 h1 {
    margin-bottom: 0px;
}

.webBox2 {
    width: 100%;
    height: 100%;

    background-image: url("/projects/web-dev/covid-19.png");
    background-size: cover;
    background-position: center;

    border: 1px solid rgb(219, 219, 219);
    border-radius: 5%;

    font-size: 16px;
    color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webBox2:hover {
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/projects/web-dev/covid-19.png");
    background-size: cover;
    background-position: center;
}

.webBox2 #webLinks {
    filter: invert(1);
    display: none;
}

.webBox2:hover #webLinks {
    display: block;
}

.webBox2 h1 {
    margin-bottom: 0px;
}

.webBox3 {
    width: 100%;
    height: 100%;

    background-image: url("/projects/web-dev/weather.png");
    background-size: cover;
    background-position: center;

    border: 1px solid rgb(219, 219, 219);
    border-radius: 5%;

    font-size: 16px;
    color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webBox3:hover {
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/projects/web-dev/weather.png");
    background-size: cover;
}

.webBox3 #webLinks {
    filter: invert(1);
    display: none;
}

.webBox3:hover #webLinks {
    display: block;
}

.webBox3 h1 {
    margin-bottom: 0px;
}

.webBox4 {
    width: 100%;
    height: 100%;

    background-image: url("/projects/web-dev/jang-soo-sushi-bar.png");
    background-size: cover;
    background-position: center;

    border: 1px solid rgb(219, 219, 219);
    border-radius: 5%;

    font-size: 16px;
    color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webBox4:hover {
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/projects/web-dev/jang-soo-sushi-bar.png");
    background-size: cover;
}

.webBox4 #webLinks {
    filter: invert(1);
    display: none;
}

.webBox4:hover #webLinks {
    display: block;
}

.webBox4 h1 {
    margin-bottom: 0px;
}

.webBox5 {
    width: 100%;
    height: 100%;

    background-image: url("/projects/web-dev/css-sketchbook.png");
    background-size: cover;
    background-position: center;

    border: 1px solid rgb(219, 219, 219);
    border-radius: 5%;

    font-size: 16px;
    color: transparent;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.webBox5:hover {
    color: white;
    background-image: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url("/projects/web-dev/css-sketchbook.png");
    background-size: cover;
}

.webBox5 #webLinks {
    filter: invert(1);
    display: none;
}

.webBox5:hover #webLinks {
    display: block;
}

.webBox5 h1 {
    margin-bottom: 0px;
}

.webLinksWidth {
    width: 90px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.webLinksContent:hover {
    opacity: 0.5;
}

.projectsMenuWrapper {
    position: fixed;
    z-index: 1;
    margin-top: 56px;

    width: 208px;
    height: 100vh;
    background: white;
    border-right: 1px solid rgb(219, 219, 219);
    
    display: flex;
    flex-direction: column;
}

.projectsMenuTitle {
    width: 100%;
    height: 36px;

    background: rgb(245, 245, 245);
    font-size: 14px;

    display: flex;
    align-items: center;
}

.projectsMenuSubtitle {
    width: 100%;
    height: 36px;

    background: rgb(250, 250, 250);
    font-size: 14px;

    border-top: 1px solid rgb(219, 219, 219);
    border-bottom: 1px solid rgb(219, 219, 219);

    display: flex;
    align-items: center;
}

.projectsMenuContainer {
    width: 100%;
    height: 36px;

    color: black;
    text-decoration: none;
    font-size: 14px;

    display: flex;
    align-items: center;
}

.projectsMenuContainer:hover {
    background-color: rgb(219, 219, 219);
}

.projectsMenuContent {
    margin-left: 36px;
}

.containerTitle a {
    text-decoration: none;
    color: black;
}

.containerTitle a:hover {
    border-bottom: 2px solid black;
}

.container2ProjectPage {
    width: calc(100% - 72px);
    margin-top: 36px;
    margin-left: 36px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container2ProjectPage video {
    width: 100%;
    height: auto;

    border: 1px solid rgb(201, 201, 201);
}

.projectPageWeb {
    margin-top: 36px;

    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectPageMobile {
    margin-top: 36px;
    
    width: 100%;
}

.projectPageWebImg{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectPageWebImg img {
    width: calc(50% - 18px);
    height: auto;
    margin-bottom: 36px;

    border: 1px solid rgb(201, 201, 201);
}

.projectPageMobileImg{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.projectPageMobileImg img {
    width: calc(33.33% - 27px);
    height: auto;

    border: 1px solid rgb(201, 201, 201);
}

/* GRAPHIC DESIGN */
.container2ProjectGraphic {
    width: calc(100% - 36px);
}

.galleryContainer {
    width: calc(100% - 36px);
    margin-top: 36px;
    margin-left: 36px;
    padding: 0;
    line-height: 0;

    -webkit-column-count: 3 !important;
    -webkit-column-gap: 36px;
    -moz-column-count: 3 !important;
    -moz-column-gap: 36px;
    column-count: 3 !important;
    column-gap: 36px; 
}

.galleryContainer img {
    width: 100%;
    height: auto;
    margin-bottom: 36px;
}

  /* PHOTOGRAPHY */
  .galleryContainerPhoto {
    width: calc(100% - 36px);
    margin-top: 36px;
    margin-left: 36px;
    padding: 0;
    line-height: 0;

    -webkit-column-count: 4 !important;
    -webkit-column-gap: 36px;
    -moz-column-count: 4 !important;
    -moz-column-gap: 36px;
    column-count: 4 !important;
    column-gap: 36px; 
}

.galleryContainerPhoto img {
    width: 100%;
    height: auto;
    margin-bottom: 36px;
}

/* AURAL PROJECTS */
.musicContainer {
    width: calc(100% - 36px);

    margin-left: 36px;
    margin-top: 36px;
}

.soundcloudContainer {
    width: 100%;
    height: 160px;
}

.soundContainer {
    width: 100%;

    margin-top: 36px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.youtubeContainer {
    width: calc(50% - 36px);
    height: 360px;
    margin-bottom: 36px;
    margin-left: 36px;
}